---
import '../styles/global.css';
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <h1> {frontmatter.title}</h1>
    作成日: {frontmatter.pubDate.slice(0,10)}<p/>
    <ul class="tags">{frontmatter.tags.map((item:string) => <li>{item}</li>)}</ul><p/>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    
    <slot />
</BaseLayout>
